<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this page belogs to app2</h1>
    <center><h1>ABOUT CHARMINAR</h1></center>
    <center><img src="https://th.bing.com/th/id/OIP.R9ohYI7KfGZE0v3TQ3VPSwHaIc?w=167&h=189&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt=""></center>
    <p>Charminar is one of the oldest monuments in India, and it is situated in Hyderabad, Telangana. Charminar was built in 1591 and is a symbol of Hyderabad. This monument is the official emblem of Telangana. Charminar is derived from Urdu, meaning ‘Four Pillars.’ BYJU’S essay on Charminar helps us learn about the monument.
 Charminar was constructed by the fifth emperor of the Qutb Shahi dynasty, Muhammad Quli Qutb Shah. He built this monument after shifting the capital to Hyderabad from Golconda. The Archeological Survey of India (ASI) is a department that preserves the ancient monuments in the country. Charminar has a mosque that represents the Indo-Islamic style of architecture. In addition, festivals like Ramadan or Ramzan are celebrated here, and people around the world visit this place all over the year. Let us learn some exciting facts about Charminar by reading an essay on Charminar in English.
    </p>
    <center>
    <a href="{% url 'app1:redfort' %}">RED FORT</a>
    <a href="{% url 'app2:tajmahal' %}">TAJ MAHAL</a>
    </center>
</body>
</html>