<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this page belogs to app1</h1>
    <center><h1 style="color: darkred;">RED-FORT</h1></center>
    <center><img src="https://th.bing.com/th?id=OIP.L8O0VdF301araAAEroMrywHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt=""></center>
    <p>This monument embraces the utmost significance in Modern Indian History. It is made of Red Sandstone alone. Sited in central Delhi it was placed where the Mughal emperors lived for many periods. Red Fort was a magnificent castle coated with precious jewels but the Britishers looted these precious jewels during their empowerment over India.
Since Delhi was the capital of India until the British men shifted it, Red Fort was the control place for the whole nation. Built on the banks of Yamuna River, the walls of this magnificence fort have been built from 30 meters high Sandstone. It is supposed that Red Fort was made after 9 years of hard work of numerous masons for day and night during all seasons.
    </p>
    <center>
        <a href="{% url 'app2:tajmahal' %}">TAJ MAHAL</a>
        <a href="{% url 'app2:charminar' %}">CHARMINAR</a>
    </center>
    

</body>
</html>