<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this page belogs to app2</h1>
    <center><h1>ABOUT TAJ MAHAL</h1></center>
    <center><img src="https://th.bing.com/th?id=OIP.8K5n5BCqaT4RhvQjWwPedQHaFo&w=286&h=218&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt=""></center>
    <p>
       <h1>A Symbol of Love</h1>
        The Taj Mahal was listed as a UNESCO World Heritage site in 1983 and is regarded as one of the most exquisite structural compositions in the entire world. After Mumtaz Mahal passed away, Shah Jahan erected the Taj Mahal in her honour and as a memorial. According to legend, Shah Jahan gave his wife the Taj Mahal as a gift. It is regarded as a representation of love and the tie between a husband and wife. It's interesting to note that the Taj Mahal is thought to represent Mumtaz's various emotions because it appears pinkish in the morning, milky white in the evening, and golden when the moon is out. 
        When Shah Jahan's wife was alive, he made her four vows. These commitments include constructing the Taj, getting remarried, going to the grave on each anniversary of his passing, and being kind to his kids. After two years, he decided to erect a memorial in her honour. Therefore, he decided to create a unique monument that had never been built before. With the help of 20,000 workers, he made the Taj Mahal—turning his vision into reality. The Taj Mahal's construction took 22 years to complete. Additionally, it was said that Shah Jahan had all 20,000 labourers' hands amputated to prevent them from ever again constructing monuments of this nature.
    </p>
    <center>
    <a href="{% url 'app1:redfort' %}">RED FORT</a>
    <a href="{% url 'app2:charminar' %}">CHARMINAR</a>
    </center>
</body>
</html>